body {
  background-image: linear-gradient(to right, pink, rgb(223, 223, 156));
  text-align: center;
  font-family: Happy Monkey, cursive;
  color: whitesmoke;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
h2,
h3 {
  text-shadow: 0px 0px 3px black;
}
#age,
#date {
  background-color: #efb0c9;
}
.age-date {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0px 0px 1px black;
  margin: 10px;
}
#age {
  padding: 5px 8px;
  margin: 0px 5px 10px 10px;
  border-radius: 5px;
}
#age:hover {
  background-color: antiquewhite;
  color: pink;
  cursor: pointer;
}
#date {
  margin: 0px;
  padding: 5px 10px;
}
.aisha-img {
  border-radius: 40%;
  border: 5px solid #efb0c9;
}
.gift-item {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmp5ZWsxN3FlajZhNXI2emFrdGlpcjd5anEyN3NnNXRhMWUzNmp6eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26u49YjOazMMAwTGU/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  border: 3px solid whitesmoke;
  border-radius: 8px;
  height: 400px;
  margin: 0 auto;
}
.aisha-parent-img {
  background-image: url(32.jpeg);
  background-size: cover;
  width: 400px;
  border: 3px solid whitesmoke;
  border-radius: 8px;
  height: 400px;
  margin: 0 auto;
}
#gift-item-suprise:hover {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDYxeGprMHdrcnA1cmJ4anFsYjBlbno4NHh3NW05NG42ZWZqNjkweCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2Stxs72oZM0kjb91rU/giphy.gif");
}
.gift-section {
  margin-top: 20px;
}
.gift-title {
  margin-bottom: 5px;
}
.gift-hover {
  margin: 0px 0px 5px 0px;
}
#aisha-parent-img-thanks:hover {
  background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZnI0Zjc2M3BmNWx0b3FnaWc3NDMyOXNwMXAxd2hzNGtnNzB4bWw1ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/j6TJDX7HfNdm6fyzHi/giphy.gif");
}
footer {
  font-size: 10px;
  font-style: italic;
}
.contact-details {
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  color: burlywood;
  font-weight: bolder;
}
.footer-title {
  margin-bottom: 0px;
}
.footer-advice {
  margin-top: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
